.tns-outer{padding:0 !important}.tns-outer [hidden]{display:none !important}.tns-outer [aria-controls],.tns-outer [data-action]{cursor:pointer}.tns-slider{-webkit-transition:all 0s;-moz-transition:all 0s;transition:all 0s}.tns-slider>.tns-item{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.tns-horizontal.tns-subpixel{white-space:nowrap}.tns-horizontal.tns-subpixel>.tns-item{display:inline-block;vertical-align:top;white-space:normal}.tns-horizontal.tns-no-subpixel:after{content:'';display:table;clear:both}.tns-horizontal.tns-no-subpixel>.tns-item{float:left}.tns-horizontal.tns-carousel.tns-no-subpixel>.tns-item{margin-right:-100%}.tns-no-calc{position:relative;left:0}.tns-gallery{position:relative;left:0;min-height:1px}.tns-gallery>.tns-item{position:absolute;left:-100%;-webkit-transition:transform 0s, opacity 0s;-moz-transition:transform 0s, opacity 0s;transition:transform 0s, opacity 0s}.tns-gallery>.tns-slide-active{position:relative;left:auto !important}.tns-gallery>.tns-moving{-webkit-transition:all 0.25s;-moz-transition:all 0.25s;transition:all 0.25s}.tns-autowidth{display:inline-block}.tns-lazy-img{-webkit-transition:opacity 0.6s;-moz-transition:opacity 0.6s;transition:opacity 0.6s;opacity:0.6}.tns-lazy-img.loaded{opacity:1}.tns-ah{-webkit-transition:height 0s;-moz-transition:height 0s;transition:height 0s}.tns-ovh{overflow:hidden}.tns-visually-hidden{position:absolute;left:-10000em}.tns-transparent{opacity:0;visibility:hidden}.tns-fadeIn{opacity:1;filter:alpha(opacity=100);z-index:0}.tns-normal,.tns-fadeOut{opacity:0;filter:alpha(opacity=0);z-index:-1}.tns-t-subp2{margin:0 auto;width:310px;position:relative;height:10px;overflow:hidden}.tns-t-ct{width:2333.3333333%;width:-webkit-calc(100% * 70 / 3);width:-moz-calc(100% * 70 / 3);width:calc(100% * 70 / 3);position:absolute;right:0}.tns-t-ct:after{content:'';display:table;clear:both}.tns-t-ct>div{width:1.4285714%;width:-webkit-calc(100% / 70);width:-moz-calc(100% / 70);width:calc(100% / 70);height:10px;float:left}
/*Custom Tiny Slider styles*/
.tns-slider {
  position: relative;
}
.tns-nav {
  margin-top: 15px;
  margin-bottom: 15px;
}
.tns-slider--nav-top {
  margin-top: 0;
}
.tns-slider--nav-bottom {
  margin-bottom: 0;
}
.tns-nav button {
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0 3px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #376fd1;
  cursor: pointer;
  outline-style: none;
  transition: box-shadow 250ms linear, border 250ms linear, background 250ms linear;
}
.tns-nav button:hover,
.tns-nav button:focus {
  border: 1px solid #2d5aaa;
  box-shadow: 0 0 0 0.08rem rgba(0, 123, 255, 0.43);
  transition: box-shadow 250ms linear, border 250ms linear, background 250ms linear;
}
.tns-nav button.tns-nav-active {
  background: #376fd1;
}
.tns-nav button.tns-nav-active:hover,
.tns-nav button.tns-nav-active:focus {
  background: #2d5aaa;
  border: 1px solid #2d5aaa;
}

.tns-outer button[data-action] {
  display: none;
}

.tns-controls [data-controls] {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: absolute;
  top: 50%;
  transform: translate3d(-100% ,-50%,0);
  z-index: 1;
  padding: 0;
  background: transparent;
  border: 0;
  font-size: 5rem;
  font-weight: 100;
  color: #346ed1;
  cursor: pointer;
  transition: font-size 250ms linear;
}
.tns-controls [data-controls]:hover:not([disabled]),
.tns-controls [data-controls]:focus:not([disabled]) {
  font-size: 7rem;
}
.tns-controls [data-controls="next"]{
  right: 0;
  transform: translate3d(100% ,-50%,0);
}
.tns-controls [data-controls][disabled]{
  cursor: default;
  opacity: 0.3;
}

.tns-slider--reviews .font-italic {
    font-size: 23px;
}


@media (min-width: 1200px) and (max-width: 1240px), (min-width: 992px) and (max-width: 1060px), (min-width: 768px) and (max-width: 820px), (max-width: 640px) {
  .tns-controls [data-controls] {transform: translate3d(0 ,-50%,0);}
  .tns-controls [data-controls="next"]{transform: translate3d(0 ,-50%,0);}
}

/* --------------- */
/* WHITE VERSION */
/* --------------- */
.tns-slider--white .tns-nav button {
  border: 1px solid white;
}
.tns-slider--white .tns-nav button.tns-nav-active {
  background: white;
}
